div.Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:692px;
	height:170px;
}

div.full-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:692px;
	height:18px;
}

div.full-02 {
	position:absolute;
	left:0px;
	top:18px;
	width:494px;
	height:16px;
}

div.full-03 {
	position:absolute;
	left:493px;
	top:23px;
	width:174px;
	height:31px;
}

div.full-04 {
	position:absolute;
	left:668px;
	top:18px;
	width:24px;
	height:152px;
}

div.full-05 {
	position:absolute;
	left:0px;
	top:34px;
	width:27px;
	height:136px;
}

div.full-06 {
	position:absolute;
	left:27px;
	top:34px;
	width:95px;
	height:132px;
}

div.full-07 {
	position:absolute;
	left:122px;
	top:34px;
	width:174px;
	height:132px;
}

div.full-08 {
	position:absolute;
	left:296px;
	top:34px;
	width:198px;
	height:46px;
}

div.full-09 {
	position:absolute;
	left:493px;
	top:53px;
	width:174px;
	height:31px;
}

div.full-10 {
	position:absolute;
	left:296px;
	top:80px;
	width:197px;
	height:90px;
}

div.full-11 {
	position:absolute;
	left:493px;
	top:83px;
	width:175px;
	height:31px;
}

div.full-12 {
	position:absolute;
	left:493px;
	top:113px;
	width:175px;
	height:33px;
}

div.full-13 {
	position:absolute;
	left:493px;
	top:144px;
	width:175px;
	height:26px;
}

div.full-14 {
	position:absolute;
	left:27px;
	top:166px;
	width:269px;
	height:4px;
}
a.menu{
text-decoration:none;
color:#FFFFFF;
}

IMG {
	border: 0;
}